body{
    font-family: 'Work Sans', sans-serif; 
    margin:0px;
    height:100%
}

html {
    margin:0px;
    height:100%

}
#navbar{
    background:#f4eade;
}
#testimonial{
    background: white;
    padding: 50px 0 30px 0;
    text-align: center;
}
#header{
    color: #aa734a;
    background:#f4eade;
    margin:0px;
}
#info-one{
    background: #f1f1f1;
}
#header{
    height:100%;
     padding-top: 100px;
   /* padding-bottom: 175px; */
} 
#testimonial, #info-one, #info-two, #contact {
    padding-top: 75px;
    padding-bottom: 75px;
} 
footer{
    background:#6b5849;
}
.header-btn{
    color: white;
    border-color: white;
}
.header-btn:hover{
    background: #f1f1f186;
    border-color: #f1f1f186;;
}


.img-box{

    border: 0px ;
}
.img-box img{
    display: block;
}